<template>
  <div>
    <component-header title="My Blog" v-bind:bg="imgBlog" />
    <article class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            {{ defineBlog.abstract }}

            <p class="post-meta">
              Posted by
              <a href="#!">{{ defineBlog.fullName }}</a>
            </p>
            <p>
              Placeholder text by
              <a href="http://spaceipsum.com/">Space Ipsum</a>
              &middot; Images by
              <a href="https://www.flickr.com/photos/nasacommons/"
                >NASA on The Commons</a
              >
            </p>
          </div>
        </div>
      </div>
    </article>
  </div>
</template>

<script>
import ComponentHeader from "../components/ComponentHeader.vue";
import imgBlog from "../assets/post-bg.jpg";
import { mapState } from "vuex";
export default {
  data() {
    return {
      imgBlog,
    };
  },
  components: { ComponentHeader },
  name: "blog-detail-page",
  computed: {
    ...mapState({ listBlogs: (state) => state.blogs.listBlogs }),
    defineBlog() {
      const { id } = this.$route.params;
      const currentBlog = this.listBlogs.find((blog) => blog.id === id);
      return currentBlog;
    },
  },
};
</script>

<style></style>
