<template>
  <div>
    <component-header />
    <component-blog-list />
  </div>
</template>

<script>
import ComponentBlogList from "../components/ComponentBlogList.vue";
import ComponentHeader from "../components/ComponentHeader.vue";
export default {
  components: { ComponentHeader, ComponentBlogList },
  name: "home-page",
};
</script>

<style></style>
