<template>
  <div>
    <component-header
      title="Login Page"
      subHeading="Please login before view blogs"
    />
    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="my-5">
              <form
                v-if="!isLogin"
                @submit.prevent="handleLogin"
                id="contactForm"
                data-sb-form-api-token="API_TOKEN"
              >
                <div class="form-floating">
                  <input
                    v-model="name"
                    class="form-control"
                    id="name"
                    type="text"
                    placeholder="Enter your name..."
                    data-sb-validations="required"
                  />
                  <label for="name">Name</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="name:required"
                  >
                    A name is required.
                  </div>
                </div>
                <div class="form-floating">
                  <input
                    v-model="email"
                    class="form-control"
                    id="email"
                    type="email"
                    placeholder="Enter your email..."
                    data-sb-validations="required,email"
                  />
                  <label for="email">Email address</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="email:required"
                  >
                    An email is required.
                  </div>
                  <div class="invalid-feedback" data-sb-feedback="email:email">
                    Email is not valid.
                  </div>
                </div>
                <div class="form-floating">
                  <input
                    v-model="password"
                    class="form-control"
                    id="phone"
                    type="password"
                    placeholder="Enter your phone number..."
                    data-sb-validations="required"
                  />
                  <label for="phone">Password</label>
                </div>
                <div class="form-floating">
                  <input
                    v-model="phoneNumber"
                    class="form-control"
                    id="phone"
                    type="tel"
                    placeholder="Enter your phone number..."
                    data-sb-validations="required"
                  />
                  <label for="phone">Phone Number</label>
                  <div
                    class="invalid-feedback"
                    data-sb-feedback="phone:required"
                  >
                    A phone number is required.
                  </div>
                </div>

                <br />

                <div class="d-none" id="submitSuccessMessage">
                  <div class="text-center mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="https://startbootstrap.com/solution/contact-forms"
                      >https://startbootstrap.com/solution/contact-forms</a
                    >
                  </div>
                </div>
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
                <!-- an error submitting the form-->
                <div class="d-none" id="submitErrorMessage">
                  <div class="text-center text-danger mb-3">
                    Error sending message!
                  </div>
                </div>
                <!-- Submit Button-->
                <button
                  class="btn btn-primary text-uppercase"
                  id="submitButton"
                  type="submit"
                >
                  Send
                </button>
              </form>
              <div v-else>
                <h1>Chào admin</h1>
                <button
                  v-on:click="handleLogout"
                  class="btn btn-primary text-uppercase"
                >
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import ComponentHeader from "../components/ComponentHeader.vue";
import { mapActions, mapState } from "vuex";
export default {
  components: { ComponentHeader },
  name: "login-page",
  data() {
    return {
      name: "",
      email: "",
      password: "",
      phoneNumber: "",
    };
  },
  methods: {
    ...mapActions({
      actCheckLogin: "user/actCheckLogin",
      actLogout: "user/actLogout",
    }),
    handleLogin() {
      const { email, password } = this;
      this.actCheckLogin({ email, password });
      alert("Đăng nhập thành công");
      this.$router.push("/");
    },
    handleLogout() {
      this.actLogout(false);
      this.name = "";
      this.email = "";
      this.password = "";
      this.phoneNumber = "";
    },
  },
  computed: {
    ...mapState({ isLogin: (state) => state.user.isLogin }),
  },
};
</script>

<style></style>
