<template>
  <div class="not-found">
    <img style="width: 100%, height: 100%" v-bind:src="imgNotFound" alt="" />
    <div>
      <router-link
        to="/"
        tag="button"
        class="btn btn-primary text-uppercase mt-3 mb-3"
        >Back to home page</router-link
      >
    </div>
  </div>
</template>

<script>
import imgNotFound from "../assets/not-found-1.jpg";
export default {
  name: "not-found",
  data() {
    return {
      imgNotFound,
    };
  },
};
</script>

<style>
.not-found {
  text-align: center;
}
</style>
