<template>
  <header class="masthead" v-bind:style="`background-image:url('${bg}')`">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div v-bind:class="className">
            <h1>{{ title }}</h1>
            <span class="subheading">{{ subHeading }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import imgHome from "../assets/home-bg.jpg";
export default {
  data() {
    return {
      imgHome,
    };
  },
  name: "component-header",
  props: {
    className: { type: String, default: "site-heading" },
    bg: { type: String, default: imgHome },
    title: { type: String, default: "Home Page" },
    subHeading: { type: String, default: "A blog theme by Bootstrap" },
  },
};
</script>

<style></style>
