<template>
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <component-blog-item
        v-for="blog in listBlogs"
        v-bind:key="blog.id"
        v-bind:blog="blog"
      />
      <!-- Divider-->

      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a>
      </div>
    </div>
  </div>
</template>

<script>
import ComponentBlogItem from "./ComponentBlogItem.vue";
import { mapState } from "vuex";
export default {
  name: "component-blog-list",
  components: {
    ComponentBlogItem,
  },
  data() {
    return {};
  },
  computed: {
    ...mapState({ listBlogs: (state) => state.blogs.listBlogs }),
  },
};
</script>

<style></style>
