<template>
  <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
      <router-link class="navbar-brand" to="/">Start Bootstrap</router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto py-4 py-lg-0">
          <router-link
            v-for="(link, index) in listLinks"
            v-bind:key="index"
            v-bind:to="link.to"
            tag="li"
            activeClass=""
            class="nav-item"
          >
            <a class="nav-link">{{ link.text }}</a>
          </router-link>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "component-navigation",
  data() {
    return {
      listLinks: [
        { to: "/", text: "Home" },
        { to: "/about-us", text: "About" },
        { to: "/contact", text: "Contact" },
        { to: "/login", text: "Login" },
      ],
    };
  },
};
</script>

<style></style>
