<template>
  <div class="post-preview">
    <!-- name phải đặt trùng với name mình đã đặt cho component trong route -->
    <router-link
      :to="{ name: 'blog-detail', params: { title: formatTitle, id: blog.id } }"
    >
      <h2 class="post-title">{{ blog.title }}</h2>
      <h3 class="post-subtitle">
        {{ blog.abstract }}
      </h3>
    </router-link>
    <p class="post-meta">
      Posted by
      <a href="#!">{{ blog.fullName }}</a>
      {{ formatTime }}
    </p>
    <hr class="my-4" />
  </div>
</template>

<script>
import moment from "moment";
export default {
  name: "component-blog-item",
  props: {
    blog: {
      type: Object,
      default: null,
    },
  },
  computed: {
    formatTime() {
      return moment(this.blog.date).format("MMMM Do YYYY");
    },
    formatTitle() {
      return this.blog.title.split(" ").join("-").toLowerCase();
    },
  },
};
</script>

<style>
.post-preview a {
  text-decoration: none;
}
</style>
