<template>
  <div id="app">
    <component-navigation />
    <router-view></router-view>
    <!-- <blog-detail /> -->
    <component-footer />
  </div>
</template>

<script>
import ComponentFooter from "./components/ComponentFooter.vue";
import ComponentNavigation from "./components/ComponentNavigation.vue";
export default {
  name: "App",
  components: { ComponentNavigation, ComponentFooter },
};
</script>

<style>
@import url("./assets/css/styles.css");
</style>
